.App {
  font-family: "Old Standard TT", serif;
  max-width: 600px;
  margin: 30px auto;
}

ul {
  margin: 0;
}
li {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  padding: 0;
  text-transform: capitalize;
  line-height: 10px;
  margin-top: 8px;
  text-align: left;
}
form {
  margin: 0 auto;
  padding: 10px 0px 10px 0px;
  text-align: center;
  font-family: "Architects Daughter", cursive;
}
source {
  text-align: center;
}

.button {
  font-size: 10px;
}

.weather-body {
  color: #f4f6ff;
  line-height: 20px;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  margin: 50px auto;
  padding: 2px 15px 2px 0px;
  border-radius: 3px;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
.weather-temperature strong {
  font-size: 64px;
  line-height: 50px;
  font-weight: 20px;
}

.weather-temperature img {
  line-height: 50px;
}
.weather-temperature .units {
  position: relative;
  left: 60px;
  font-size: 16px;
  top: -70px;
}
